body {
	padding-top: 80px;
}

.margin_auto {
	margin: 0 auto;
}

.center_text {
	text-align: center;
}

.google {
	margin-top: 20px;
    width: 350px;
    height: 225px;
}

.free_food {
	height: 300px;
	width: 300px;
}